@import "tailwindcss";

body {
  background-color: #020617; /* slate-950 */
  color: #f8fafc; /* slate-50 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
